html {
    background: url(images/techconnect2.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


.content {
    max-width: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    padding: 10px;
}

.content h1 {
    text-align: center;
    font-family: "Baskerville Old Face";
}

.content input[Profession] {
    display: block;
    margin: 0 auto;
}

